<!doctype html>
<html>
  <head>
    <title>Spring Boot 目次</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-size: 60px;
      }

      .menu {
        font-weight: bold;
        text-align: center;
      }

      a {
        display: block;
        text-decoration: none;
        font-size: 1em;
      }
    </style>
  </head>
  <body>
    <div class="menu">
      <span>Spring Boot</span>
      <a href="/points/">Pin Note へ</a>
      <a href="/enshu/index">演習へ</a>
      <a href="/kadai/index">課題へ</a>
    </div>
  </body>
</html>
